.bordered-title {
	background: #EEEEEE none repeat scroll 0 0;
	color: #000000;
	font-size: 1em;
	font-weight: bold;
	margin: 5px 0;
	padding: 3px 0 3px 5px;
}

.bordered-content {
	border: 1px solid #C5D7EF;
	padding: 3px 0 3px 5px;
}

.top-bottom-bordered {
	border-bottom: 1px solid #C5D7EF;
	border-top: 1px solid #C5D7EF;
}

/* LHS Navigation Panel styling */
#lhs-nav-container {
	border-right: 3px solid #E5ECF9;
}

.lhs-nav-selected {
	background-color: #E5ECF9;
	color: #000000;
	display: block;
	font-weight: bold;
	margin-right: -1px;
}

/* Table styling */
.blue-bordered {
	margin: 0.5em;
	border: 1px solid #C5D7EF;
	border-collapse: collapse;
	font-size: 1em;
	width: 90%;
}

.blue-bordered td {
	border: 1px solid #CCCCCC;
	text-align: center;
}

.table-header {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding-right: 1px;
    text-align: left;
    border: 1px solid #CCCCCC;
}

/* Add some space between the blue border and the interior stuff */
.hm-body {
	margin: 10px;
}

.hm-outerpanel {
	margin: 10px;
}

.hm-innerpanel {
	
}

.hm-tableheader {
	background-color: #E5ECF9;
	padding: 6px;
	font-weight: bold;
}

.hm-description div {
	background-color: #DEF4D5;
	border: solid 1px #C0DF86;
	padding: 4px;
}

.hm-description strong {
	font-weight: bold;
	color: green;
}

.hm-error {
	background-color: #E1C2B9;
	border: solid 1px #B53812;
	padding: 3px;
}

.hm-error strong {
	font-weight: bold;
	color: #B53812;
}

.hm-title {
	font-size: 1.5em;
	font-family: sans-serif;
	display: inline;
}

.hm-marker-label {
	font-size: 9px;
}

/* */
.infoPanel {
	background-color: white;
}

.visibilityPanel {
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	opacity: 1;
}

.mainMapContainer {
	position: static;
}

.warning {
	color:red;
	font-size: large;
}

.small-captions {
	font-size: x-small;
}

.map-control-panel{
	width: 250px;
	height: 100%;
}

.edit-panel{
	height: 86px;
	vertical-align: middle;
	margin: 0px 15px;
}

.edit-panel td{
	margin: 0px 5px;
}

.info-panel {
	min-width: 550px;
}