/** Add css rules here for your application. */
html,body,input {
	font-family: arial, sans-serif;
	font-size: 90%;
	display: block;
}

div,form {
	margin: 0;
	display: block;
}

p,dl,multicol {
	display: block;
	margin: 1em 0;
}

.name {
	display: inline;
	border-right-style: solid;
	margin-right: 5;
	padding-right: 5;
}

#topbar { /*font-size: 15px;*/
	padding-right: 8px;
	float: left;
	height: 22px;
	padding-left: 8px;
	margin-top: -4px;
	margin-left: -4px;
}

.linkbar {
	margin-right: 0.5em;
}

a.linkbar {
	color: #0000CC !important;
}

#info {
	margin: 0;
	padding: 4px 5px 5px;
	position: absolute;
	right: 0;
	top: 0;
}

.bar {
	height: 0;
	position: absolute;
	top: 28px;
	width: 100%;
	border-top: 1px solid #C9D7F1;
	font-size: 1px;
}

/* Message area*/
.message-area {
	font-family: Arial;
	font-size: 18px;
	left: 40%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10000;
}

.hidden {
	display: none !important;
}