/** Add css rules here for your application. */
h3{
	text-align: center;
}

.legend td{
	text-align: center;
}

.error_message {
	color: red;
	font-size: 0.5em;
}

.ae-table-caption,.ae-table caption {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-margin-start: -1px;
	background: #E5ECF9 none repeat scroll 0 0;
	border: 1px solid #C5D7EF;
}

.ae-table caption {
	padding: 3px 5px;
	text-align: left;
}

.ae-table th,.ae-table td {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0.35em 1em 0.25em 0.35em;
}

.ae-table-thead td {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #C5D7EF none repeat scroll 0 0;
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
}

.ae-table tfoot tr td {
	background-color: #E5ECF9;
	border-top: 1px solid #C5D7EF;
}

.ae-table td {
	border-bottom: 1px solid #C5D7EF;
	border-top: 1px solid #C5D7EF;
}

.ae-even td,.ae-even th,.ae-even-top td,.ae-even-tween td,.ae-even-bottom td,ol.ae-even
	{
	background-color: #E9E9E9;
	border-bottom: 1px solid #C5D7EF;
	border-top: 1px solid #C5D7EF;
}

.ae-even-top td {
	border-bottom: 0 none;
}

.ae-even-bottom td {
	border-top: 0 none;
}

.ae-even-tween td {
	border: 0 none;
}

.ae-table .ae-tween td {
	border: 0 none;
}

.ae-table .ae-tween-top td {
	border-bottom: 0 none;
}

.ae-table .ae-tween-bottom td {
	border-top: 0 none;
}

#bd .ae-table .cbc {
	padding-right: 0;
	width: 1.5em;
}

.ae-table #ae-live td {
	background-color: #FFEAC0;
}

.ae-table-fixed {
	table-layout: fixed;
}

.ae-table-fixed td,.ae-table-nowrap {
	overflow: hidden;
	white-space: nowrap;
}

.ae-paginate strong {
	margin: 0 0.5em;
}

tfoot .ae-paginate {
	text-align: right;
}

.ae-table-caption .ae-paginate,.ae-table-caption .ae-orderby {
	padding: 2px 5px;
}
}