@charset "utf-8";

body {
	background: #fff;
	font: 82% arial, sans-serif;
	margin: 3px 0 3px 0;
	min-width: 768px;
}

a:link,a:focus {
	color: #00c
}

a:active {
	color: red
}

select,input {
	font-family: arial, sans-serif;
}

input[type="text"] {
	border-color: #999 #ccc #ccc;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

textarea {
	border-color: #999 #ccc #ccc;
	border-style: solid;
	border-width: 1px;
}

td td,th th,th td,td th {
	font-size: 100%;
}

pre {
	font-size: 110%;
}

form {
	padding: 0;
	margin: 0;
}

.notice,.error {
	background: #fad163;
	font-weight: bold
}

.footer {
	clear: both;
	text-align: center;
	background-repeat: no-repeat;
	background-position: left center;
}

.footer table{
	width: 100%;
}

.footer tr{
	margin: 0 10px;
}

.footer td{
	font-size: smaller;
}

.container {
	margin: 60px 4px;
	position: absolute;
}

.simple-header {
	
}

.simple-header-right {
	float: right;
}

.simple-header-right>div {
	float: left;
}

.simple-header-right>* {
	margin: 0 8px;
}

.simple-header-left {
	float: left;
}

.simple-header-left>div {
	float: right;
}

.simple-header-left>* {
	margin: 0 8px 0 30px;
}

.simple-header-bar {
	border-top: 1px solid #C9D7F1;
	font-size: 1px;
	height: 0;
	position: absolute;
	top: 30px;
	width: 100%;
}

.simple-header a {
	color: #00c;
	text-decoration: underline;
}

.main-bar {
	background: none repeat scroll 0 0 #EBEFF9;
	border-bottom: 1px solid #6B90DA;
	clear: none;
	margin: 27px 0;
	padding: 5px 15px 0;
	position: absolute;
	white-space: nowrap;
	width: 100%;
}

.main-bar>* {
	float: right;
}

.main-bar .tab {
	color: #00c;
	cursor: pointer;
	float: left;
	margin: 5px 15px 6px 10px
}

.main-bar .active {
	background: #fff;
	border: 1px solid #6b90da;
	border-bottom: 0;
	color: #000;
	cursor: default;
	font-weight: bold;
	margin: 0 5px -1px 0;
	padding: 5px 9px 6px;
	text-decoration: none
}

.sub-bar {
	background: #fff;
	/* for IE */
	filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
		= 
		 '#ffffff', endColorstr =   '#f1f1f1' );
	/* for webkit browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f1f1f1) );
	/* for firefox 3.6+ */
	background: -moz-linear-gradient(top, #fff, #f1f1f1);
	border-bottom: 1px solid #ccc;
	padding: 0 0 0 14px;
	height: 33px;
}

.isf a,.at a,.isf a:visited,.at a:visited {
	color: #0000cc;
	text-decoration: none;
}

.isf a:hover,.at a:hover {
	color: #0000cc;
	text-decoration: underline;
}

.st1 .inst1 a,.st2 .inst2 a,.st3 .inst3 a,.st4 .inst4 a,.st5 .inst5 a,.st6 .inst6 a,.st7 .inst7 a,.st8 .inst8 a,.st9 .inst9 a
	{
	color: #000;
	font-weight: bold;
	text-decoration: none;
	height: 20px;
}

/* Message area*/
.message-area {
	font-family: Arial;
	font-size: 18px;
	left: 40%;
	overflow: hidden;
	position: absolute;
	top: 68px;
	z-index: 10000;
}

.hidden {
	display: none !important;
}