<?xml version="1.0" encoding="UTF-8"?><!--
        Copyright (C) 2009, 2010 Nicky Sandhu, State of California, Department of Water Resources.
   
        DSM2 Grid Map : An online map centric tool to visualize, create and modify 
                                  DSM2 input and output 
        Version 1.0
        by Nicky Sandhu
        California Dept. of Water Resources
        Modeling Support Branch
        1416 Ninth Street
        Sacramento, CA 95814
        psandhu@water.ca.gov
   
        Send bug reports to psandhu@water.ca.gov
   
        This file is part of DSM2 Grid Map
        The DSM2 Grid Map is free software and is licensed to you under the terms of the GNU 
        General Public License, version 3, as published by the Free Software Foundation.
   
        You should have received a copy of the GNU General Public License
        along with this program; if not, contact the 
        Free Software Foundation, 675 Mass Ave, Cambridge, MA
        02139, USA.
   
        THIS SOFTWARE AND DOCUMENTATION ARE PROVIDED BY THE CALIFORNIA
        DEPARTMENT OF WATER RESOURCES AND CONTRIBUTORS "AS IS" AND ANY
        EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
        PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE CALIFORNIA
        DEPARTMENT OF WATER RESOURCES OR ITS CONTRIBUTORS BE LIABLE FOR
        ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
        CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
        OR SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA OR PROFITS; OR
        BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
        LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
        (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
        USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGE.
 -->

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>dsm2InputServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.DSM2InputServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dsm2InputServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/dsm2input</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>studyUploadServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.FileUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studyUploadServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/upload_study</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dataUploadServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.DataFileUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dataUploadServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/upload_data</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dataServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.DataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dataServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dataServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.DataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dataServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dsm2DownloadServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.DSM2DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dsm2DownloadServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/dsm2_download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>requestAccessServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.RequestAccessServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>requestAccessServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/request_access</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userProfileServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.UserProfileServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userProfileServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/admin/userProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateUserProfileServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.UpdateCreateUserProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserProfileServlet</servlet-name>
		<url-pattern>/update_user_profile</url-pattern>
	</servlet-mapping>
	<servlet>		<servlet-name>loginServlet</servlet-name>		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.LoginServiceImpl</servlet-class>	</servlet>	<servlet-mapping>		<servlet-name>loginServlet</servlet-name>		<url-pattern>/dsm2_grid_map/login</url-pattern>	</servlet-mapping>
	<servlet>
		<servlet-name>bathymetryServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.BathymetryDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>bathymetryServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/bathymetry</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>demServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.DEMDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>demServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/dem</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>bathymetryDataUploadServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.BathymetryDataFileUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>bathymetryDataUploadServlet</servlet-name>
		<url-pattern>/upload_bathymetry</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>demDataUploadServlet</servlet-name>
		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.DEMDataFileUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>demDataUploadServlet</servlet-name>
		<url-pattern>/upload_dem</url-pattern>
	</servlet-mapping>
		<!-- Task servlets -->
	<servlet>		<servlet-name>elevationCalculatorTask</servlet-name>		<servlet-class>gov.ca.bdo.modeling.dsm2.map.server.ElevationCalculatorTaskServlet</servlet-class>	</servlet>	<servlet-mapping>		<servlet-name>elevationCalculatorTask</servlet-name>		<url-pattern>/task/elevation</url-pattern>	</servlet-mapping>	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>gov.ca.bdo.modeling.dsm2.map.server.RoleFilter</filter-class>
		<init-param>
			<param-name>whitelist</param-name>
			<param-value></param-value>
		</init-param>
	</filter>
	<!-- Log for all URLs-->
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>remoteApiServlet</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteApiServlet</servlet-name>
		<url-pattern>/dsm2_grid_map/admin/remote_api</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>

	<!-- secured pages 
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>general</web-resource-name>
			<url-pattern>/dsm2_grid_map/*</url-pattern>
			<url-pattern>/dsm2_grid_map.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	-->
	<security-constraint>		<web-resource-collection>			<web-resource-name>tasks</web-resource-name>			<url-pattern>/task/*</url-pattern>		</web-resource-collection>		<auth-constraint>			<role-name>admin</role-name>		</auth-constraint>	</security-constraint>	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
			<url-pattern>/dsm2_grid_map/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>public</web-resource-name>
			<url-pattern>/public/*</url-pattern>			<url-pattern>welcome.jsp</url-pattern>		</web-resource-collection>
	</security-constraint>
</web-app>
