<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Servlets -->
	<servlet>
		<servlet-name>demServlet</servlet-name>
		<servlet-class>gov.ca.maps.bathymetry.tiles.server.ProxyServlet</servlet-class>
		<init-param>
			<param-name>proxyURL</param-name>
			<param-value>http://3.latest.dsm2grid.appspot.com/dsm2_grid_map/dem</param-value>
		</init-param>
		<init-param>
			<param-name>proxyModuleBase</param-name>
			<param-value>http://3.latest.dsm2grid.appspot.com/dsm2_grid_map/</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>demServlet</servlet-name>
		<url-pattern>/bathymap/dem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bathymetryServlet</servlet-name>
		<servlet-class>gov.ca.maps.bathymetry.tiles.server.ProxyServlet</servlet-class>
		<init-param>
			<param-name>proxyURL</param-name>
			<param-value>http://3.latest.dsm2grid.appspot.com/dsm2_grid_map/bathymetry</param-value>
		</init-param>
		<init-param>
			<param-name>proxyModuleBase</param-name>
			<param-value>http://3.latest.dsm2grid.appspot.com/dsm2_grid_map/</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>bathymetryServlet</servlet-name>
		<url-pattern>/bathymap/bathymetry</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>gov.ca.maps.bathymetry.tiles.server.FileUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload_file</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/tiles/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>remoteApiServlet</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteApiServlet</servlet-name>
		<url-pattern>/admin/remote_api</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>remoteApiServlet</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
